
{{> head }}
{{> navbarclient }}

<body> 
    <div class="jumbotron">
        <h1 class="display-4">Aqui se creará el dashboard para estructuras</h1>
        <h2 class="display-4" align ='right'> Versión 2.0</h2>
        <p class="lead">Datos sobre la memoria de cálculo base
            
  <div>          
 <table border="1">
 {{#each band.nombre1}}
            <tr>
    <td><strong>Estudio </strong>    </td><td>{{general.codigo}}</td>
  </tr>
  <tr>
    <td><strong>Realizado </strong>    </td><td>{{general.fecha}}</td>
  </tr>
  <tr>
    <td><strong>Bajo la norma</strong>     </td><td>{{general.norma}}</td>
  </tr>
    <tr>
    <td><strong>Condición del  viento</strong>     </td><td>{{general.viento}}</td>
  </tr>
   <tr>
    <td><strong>Factor utilizacion (%) </strong>     </td><td>{{general.fu}}</td>
  </tr>
  {{/each}}
</table>
</div> 




<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p class="lead">Equipamento existente</p>  

         <table border="1">   
    <tr>
    <td><strong>Tipo</strong></td><td><strong>Orientación</strong></td><td><strong>Altura</strong></td><td><strong>cantidad</strong></td>
  </tr>
{{#each band.nombre2}}      
  <tr>  
     <td>{{antena.descripcion}} </td><td>{{antena.orientacion}}</td> <td>{{antena.alto}}</td> <td>{{antena.cantidad}}</td>
  </tr>   
{{/each}}
</table>
<hr class="my-4">
    <div >
          Favor introduzca los datos para producir el estudio</p>
    
  <div class="row">
    <div class="col-md-15">
      <div class="card-body">

        <form action="/../resultadoAS" method="POST" id="prueba">
            <div class="form-group">
              <div class="row">
                  <div class="col-xs-12 col-md-13 col-md-13">
                      <div class="form-group">
                          <label for="">Antenas parabólicas</label>
                          {{!-- Antena 1 --}}
                          <div class="input-group">
                              <select name="antena1">
                                <option value="Elija una opción">Elija una opción</option>
                                <option value="Parabólica sin radome">Parabólica sin radome</option>
                                <option value="Parabólica con escudo plano">Parabólica con escudo plano</option>
                                <option value="Parabólica con radome">Parabólica con radome</option>
                                <option value="Parabólica grillada">Parabólica grillada</option>
                              </select>
                                 <span class="input-group-addon"> , altura </span>
                                 <input name="alturaAntena1" placeholder="Altura de antena" type="text"  class="form-control" >
                                 <span class="input-group-addon"> , diámetro </span>
                                <input name="diametro1" placeholder="Ancho" type="text"  class="form-control" >
                                
                            </div>
                            {{!-- Antena 2 --}}
                            <div class="input-group">
                              <select name="antena2">
                                <option value="Elija una opción">Elija una opción</option>
                                <option value="Parabólica sin radome">Parabólica sin radome</option>
                                <option value="Parabólica con escudo plano">Parabólica con escudo plano</option>
                                <option value="Parabólica con radome">Parabólica con radome</option>
                                <option value="Parabólica grillada">Parabólica grillada</option>
                              </select>
                 
                                <span class="input-group-addon"> , altura </span>
                                 <input name="alturaAntena2" placeholder="Altura de antena" type="text"  class="form-control" >
                                 <span class="input-group-addon"> , diámetro </span>
                                <input name="diametro2" placeholder="Ancho" type="text"  class="form-control" >
                            </div>
                            <div class="input-group">
                              <select name="antena3">
                                <option value="Elija una opción">Elija una opción</option>
                                <option value="Parabólica sin radome">Parabólica sin radome</option>
                                <option value="Parabólica con escudo plano">Parabólica con escudo plano</option>
                                <option value="Parabólica con radome">Parabólica con radome</option>
                                <option value="Parabólica grillada">Parabólica grillada</option>
                              </select>

                              <span class="input-group-addon"> , altura </span>
                               <input name="alturaAntena3" placeholder="Altura de antena" type="text"  class="form-control" >
                               <span class="input-group-addon"> , diámetro </span>
                              <input name="diametro3" placeholder="Ancho" type="text"  class="form-control" 
                          </div>
                          <div class="input-group">
                              <select name="antena4">
                                <option value="Elija una opción">Elija una opción</option>
                                <option value="Parabólica sin radome">Parabólica sin radome</option>
                                <option value="Parabólica con escudo plano">Parabólica con escudo plano</option>
                                <option value="Parabólica con radome">Parabólica con radome</option>
                                <option value="Parabólica grillada">Parabólica grillada</option>

</select>
                                <span class="input-group-addon"> , altura </span>
                                 <input name="alturaAntena4" placeholder="Altura de antena" type="text"  class="form-control" >
                                 <span class="input-group-addon"> , diámetro </span>
                                <input name="diametro4" placeholder="Ancho" type="text"  class="form-control" >
                            </div>
                            <div class="input-group">
                              <select name="antena5">
                                <option value="Elija una opción">Elija una opción</option>
                                <option value="Parabólica sin radome">Parabólica sin radome</option>
                                <option value="Parabólica con escudo plano">Parabólica con escudo plano</option>
                                <option value="Parabólica con radome">Parabólica con radome</option>
                                <option value="Parabólica grillada">Parabólica grillada</option>

</select>
                                <span class="input-group-addon"> , altura </span>
                                 <input name="alturaAntena5" placeholder="Altura de antena" type="text"  class="form-control" >
                                 <span class="input-group-addon"> , diámetro </span>
                                <input name="diametro5" placeholder="Ancho" type="text"  class="form-control" >
                            </div>
                            <div class="input-group">
                              <select name="antena6">
                                <option value="Elija una opción">Elija una opción</option>
                                <option value="Parabólica sin radome">Parabólica sin radome</option>
                                <option value="Parabólica con escudo plano">Parabólica con escudo plano</option>
                                <option value="Parabólica con radome">Parabólica con radome</option>
                                <option value="Parabólica grillada">Parabólica grillada</option>

</select>
                                <span class="input-group-addon"> , altura </span>
                                 <input name="alturaAntena6" placeholder="Altura de antena" type="text"  class="form-control" >
                                 <span class="input-group-addon"> , diámetro </span>
                                <input name="diametro6" placeholder="Ancho" type="text"  class="form-control" >
                            </div>
                            <div class="input-group">
                              <select name="antena7">
                                <option value="Elija una opción">Elija una opción</option>
                                <option value="Parabólica sin radome">Parabólica sin radome</option>
                                <option value="Parabólica con escudo plano">Parabólica con escudo plano</option>
                                <option value="Parabólica con radome">Parabólica con radome</option>
                                <option value="Parabólica grillada">Parabólica grillada</option>

</select>
                                <span class="input-group-addon"> , altura </span>
                                 <input name="alturaAntena7" placeholder="Altura de antena" type="text"  class="form-control" >
                                 <span class="input-group-addon"> , diámetro </span>
                                <input name="diametro7" placeholder="Ancho" type="text"  class="form-control" >
                            </div>
                            <div class="input-group">
                              <select name="antena8">
                                <option value="Elija una opción">Elija una opción</option>
                                <option value="Parabólica sin radome">Parabólica sin radome</option>
                                <option value="Parabólica con escudo plano">Parabólica con escudo plano</option>
                                <option value="Parabólica con radome">Parabólica con radome</option>
                                <option value="Parabólica grillada">Parabólica grillada</option>

</select>
                                <span class="input-group-addon"> , altura </span>
                                 <input name="alturaAntena8" placeholder="Altura de antena" type="text"  class="form-control" >
                                 <span class="input-group-addon"> , diámetro </span>
                                <input name="diametro8" placeholder="Ancho" type="text"  class="form-control" >
                            </div>
                            <div class="input-group">
                              <select name="antena9">
                                <option value="Elija una opción">Elija una opción</option>
                                <option value="Parabólica sin radome">Parabólica sin radome</option>
                                <option value="Parabólica con escudo plano">Parabólica con escudo plano</option>
                                <option value="Parabólica con radome">Parabólica con radome</option>
                                <option value="Parabólica grillada">Parabólica grillada</option>

</select>
                                <span class="input-group-addon"> , altura </span>
                                 <input name="alturaAntena9" placeholder="Altura de antena" type="text"  class="form-control" >
                                 <span class="input-group-addon"> , diámetro </span>
                                <input name="diametro9" placeholder="Ancho" type="text"  class="form-control" >
                            </div>
 
                            {{!-- Antena 3 --}}
     
                                                      <label for="">Elementos de sección plana</label>
                          <div class="input-group">
                            <select name="antena10">
                                <option value="Elija una opción">Elija una opción</option>
                                <option value="Sectorial">Sectorial</option>
                                <option value="RRU">RRU</option>

</select>                         

                                 <span class="input-group-addon">Altura:  </span>
                                 <input name="alturaAntenaSect1" placeholder="Altura del arreglo" type="text"  class="form-control" >
                                 <span class="input-group-addon"> , cantidad </span>
                                 <input name="cantAntSect1" placeholder="Cantidad de elementos" type="text"  class="form-control"> 
                                 <span class="input-group-addon"> , ancho </span>
                                 <input name="ancho1" placeholder="Cantidad de elementos" type="text"  class="form-control"> 
                                 <span class="input-group-addon"> , largo </span>
                                 <input name="largo1" placeholder="Cantidad de elementos" type="text"  class="form-control"> 
                            </div>
                            <div class="input-group">
  <select name="antena11">
                                <option value="Elija una opción">Elija una opción</option>
                                <option value="Sectorial">Sectorial</option>
                                <option value="RRU">RRU</option>

</select>
                                 <span class="input-group-addon">Altura:  </span>
                                 <input name="alturaAntenaSect2" placeholder="Altura del arreglo" type="text"  class="form-control" >
                                 <span class="input-group-addon"> , cantidad </span>
                                 <input name="cantAntSect2" placeholder="Cantidad de elementos" type="text"  class="form-control"> 
                                  <span class="input-group-addon"> , ancho </span>
                                 <input name="ancho2" placeholder="Cantidad de elementos" type="text"  class="form-control"> 
                                 <span class="input-group-addon"> , largo </span>
                                 <input name="largo2" placeholder="Cantidad de elementos" type="text"  class="form-control"> 
                            </div>
                            <div class="input-group">
   <select name="antena12">
                                <option value="Elija una opción">Elija una opción</option>
                                <option value="Sectorial">Sectorial</option>
                                <option value="RRU">RRU</option>

</select>
                                 <span class="input-group-addon">Altura:  </span>
                                 <input name="alturaAntenaSect3" placeholder="Altura del arreglo" type="text"  class="form-control" >
                                 <span class="input-group-addon"> , cantidad </span>
                                 <input name="cantAntSect3" placeholder="Cantidad de elementos" type="text"  class="form-control"> 
                                  <span class="input-group-addon"> , ancho </span>
                                 <input name="ancho3" placeholder="Cantidad de elementos" type="text"  class="form-control"> 
                                 <span class="input-group-addon"> , largo </span>
                                 <input name="largo3" placeholder="Cantidad de elementos" type="text"  class="form-control"> 
                            </div>
                            <div class="input-group">
   <select name="antena13">
                                <option value="Elija una opción">Elija una opción</option>
                                <option value="Sectorial">Sectorial</option>
                                <option value="RRU">RRU</option>

</select>
                                 <span class="input-group-addon">Altura:  </span>
                                 <input name="alturaAntenaSect4" placeholder="Altura del arreglo" type="text"  class="form-control" >
                                 <span class="input-group-addon"> , cantidad </span>
                                 <input name="cantAntSect4" placeholder="Cantidad de elementos" type="text"  class="form-control"> 
                                  <span class="input-group-addon"> , ancho </span>
                                 <input name="ancho4" placeholder="Cantidad de elementos" type="text"  class="form-control"> 
                                 <span class="input-group-addon"> , largo </span>
                                 <input name="largo4" placeholder="Cantidad de elementos" type="text"  class="form-control"> 
                            </div>
                            <div class="input-group">
  <select name="antena14">
                                <option value="Elija una opción">Elija una opción</option>
                                <option value="Sectorial">Sectorial</option>
                                <option value="RRU">RRU</option>

</select>
                                 <span class="input-group-addon">Altura:  </span>
                                 <input name="alturaAntenaSect5" placeholder="Altura del arreglo" type="text"  class="form-control" >
                                 <span class="input-group-addon"> , cantidad </span>
                                 <input name="cantAntSect5" placeholder="Cantidad de elementos" type="text"  class="form-control"> 
                                  <span class="input-group-addon"> , ancho </span>
                                 <input name="ancho5" placeholder="Cantidad de elementos" type="text"  class="form-control"> 
                                 <span class="input-group-addon"> , largo </span>
                                 <input name="largo5" placeholder="Cantidad de elementos" type="text"  class="form-control"> 
                            </div>
                            <div class="input-group">
  <select name="antena15">
                                <option value="Elija una opción">Elija una opción</option>
                                <option value="Sectorial">Sectorial</option>
                                <option value="RRU">RRU</option>

</select>
                                 <span class="input-group-addon">Altura:  </span>
                                 <input name="alturaAntenaSect6" placeholder="Altura del arreglo" type="text"  class="form-control" >
                                 <span class="input-group-addon"> , cantidad </span>
                                 <input name="cantAntSect6" placeholder="Cantidad de elementos" type="text"  class="form-control"> 
                                  <span class="input-group-addon"> , ancho </span>
                                 <input name="ancho6" placeholder="Cantidad de elementos" type="text"  class="form-control"> 
                                 <span class="input-group-addon"> , largo </span>
                                 <input name="largo6" placeholder="Cantidad de elementos" type="text"  class="form-control"> 
                            </div>
                            <div class="input-group">
  <select name="antena16">
                                <option value="Elija una opción">Elija una opción</option>
                                <option value="Sectorial">Sectorial</option>
                                <option value="RRU">RRU</option>

</select>
                                 <span class="input-group-addon">Altura:  </span>
                                 <input name="alturaAntenaSect7" placeholder="Altura del arreglo" type="text"  class="form-control" >
                                 <span class="input-group-addon"> , cantidad </span>
                                 <input name="cantAntSect7" placeholder="Cantidad de elementos" type="text"  class="form-control"> 
                                  <span class="input-group-addon"> , ancho </span>
                                 <input name="ancho7" placeholder="Cantidad de elementos" type="text"  class="form-control"> 
                                 <span class="input-group-addon"> , largo </span>
                                 <input name="largo7" placeholder="Cantidad de elementos" type="text"  class="form-control"> 
                            </div>
                            <div class="input-group">
                               {{#each band.nombre1}}
                              <input type="hidden" name="viento" value={{general.viento}}>                              
                              <input type="hidden" name="norma" value={{general.norma}}>
                              <input type="hidden" name="id_hist_mc" value={{general.id_hist_mc}}>
                              <input type="hidden" name="altura_torre" value={{general.altura_torre}}>
                              <input type="hidden" name="codigo" value={{general.codigo}}> 
                              <input type="hidden" name="fu" value={{general.fu}}>  
                              <input type="hidden" name="hielo" value={{general.hielo}}> 
                              <input type="hidden" name="fecha" value={{general.fecha}}>
                              

                              <input type="hidden" name="antenasAntes" value={{band.nombre2}}> 
                                                       {{!-- ///serializar la salida para que la pueda mandar  el html --}}
                              
                              {{/each}}
                            </div>



                        </div>
                    </div>
                </div>
            </div>
          <button type="submit" class="btn btn-primary">
            Ingresar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

        <hr class="my-4">
        <p>Simplemente Industrial 4.0 en las estructuras de las antenas de tu planta externa.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Leer más</a>
    </div>

{{!-- /*//////////////División de sección/////////////////*/ --}}
<hr class="my-4"> 

{{> footer}}