<style>
    .invoice-box {
        max-width: 800px;
        margin: auto;
        padding: 30px;
        border: 1px solid #eee;
        box-shadow: 0 0 10px rgba(0, 0, 0, .15);
        font-size: 16px;
        line-height: 24px;
        font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        color: #555;
    }
    
    .invoice-box table {
        width: 100%;
        line-height: inherit;
        text-align: left;
    }
    
    .invoice-box table td {
        padding: 5px;
        vertical-align: top;
    }
    
    .invoice-box table tr td:nth-child(2) {
        text-align: right;
    }
    
    .invoice-box table tr.top table td {
        padding-bottom: 20px;
    }
    
    .invoice-box table tr.top table td.title {
        font-size: 45px;
        line-height: 45px;
        color: #333;
    }
    
    .invoice-box table tr.information table td {
        padding-bottom: 40px;
    }
    
    .invoice-box table tr.heading td {
        background: #eee;
        border-bottom: 1px solid #ddd;
        font-weight: bold;
    }
    
    .invoice-box table tr.details td {
        padding-bottom: 20px;
    }
    
    .invoice-box table tr.item td {
        border-bottom: 1px solid #eee;
    }
    
    .invoice-box table tr.item.last td {
        border-bottom: none;
    }
    
    .invoice-box table tr.total td:nth-child(2) {
        font-weight: bold;
    }
    
    @media only screen and (max-width: 600px) {
        .invoice-box table tr.top table td {
            width: 100%;
            display: block;
            text-align: center;
        }
        .invoice-box table tr.information table td {
            width: 100%;
            display: block;
            text-align: center;
        }
    }
    /** RTL **/
    
    .rtl {
        direction: rtl;
        font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    }
    
    .rtl table {
        text-align: right;
    }
    
    .rtl table tr td:nth-child(2) {
        text-align: left;
    }
</style>

<div>
    {{!-- {{#if isWatermark}}
    <div style="border-width: 6px;border-style: solid; border-color: #008000;border-radius: 8px; color: #008000; opacity:0.6; position: absolute; z-index: 1; left:40%; top:30%; font-size: 60pt;-webkit-transform: rotate(-45deg);-ms-transform: rotate(-45deg);transform: rotate(-45deg); font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;">
        PAID </div>
    {{/if}} --}}
    <div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td colspan="2">
                    <table>
                        <tr>
                            <td class="title">
                            </td>
                            <td>
                                Informe N° #: 001<br> Creado : viernes 19 de octubre del 2019
                            </td>
                        </tr>
                   
                </td>
            </tr>
 </table>
            <tr class="information">
                <td colspan="2">
                    
                    <table>                        
                        <tr>
                      
                            <td>
                                Nombre del Sitio : {{nombreSitio}} <br>
                                Tipo de torre :{{tipoEstructura}}<br>
                                Altura :{{alturaEstructura}}
                            </td>                        

                        </tr>                   
                        <tr>                            
                            <td>
                                Código estudio : {{codigo}} <br>
                                Factor Utización :<strong>{{fu_mc}}</strong><br>
                                Condición de viento: {{hielo}} <br>
                                Fecha: {{fecha}} <br>
                                Norma :{{norma}}
                            </td>
                            
                        </tr>

                    </table>
                   
                </td>
            </tr>

      <tr >
                <td colspan="2">EQUIPOS CONSIDERADOS EN LA MEMORIA DE CALCULO
                    
                    <table>                        
                        <tr class="heading">
                      
                            <td>
                                DESCRIPCIÓN
                            </td>                                                  
                            <td>
                                ORIENTACIÓN
                            </td>
                            <td>
                                ALTURA
                            </td>
                            <td>
                                CANTIDAD
                            </td>                    
                        </tr>
                        {{#each equipTorr}}
                        <tr class="item">
                             <td>
                                {{descripcion}}
                            </td>                                                  
                            <td>
                                {{orientacion}}
                            </td>
                            <td>
                                {{altura}}
                            </td>
                            <td>
                                {{cantidad}}
                            </td>  

                        </tr>  
                        {{/each}}
                    </table>
                   
                </td>
     </tr>

           <tr >
                <td colspan="2">CAMBIOS EN EQUIPOS

                    <table>                        
                        <tr class="heading">
                      
                            <td>
                                DESCRIPCIÓN
                            </td>                                                  
                            <td>
                                CANTIDAD
                            </td>
                            <td>
                                ALTURA
                            </td>                 
                        </tr>
                        {{#each instalacion}}
                        <tr class="item">
                             <td>
                                {{descripcion}}
                            </td>                                                  
                            <td>
                                {{cantidad}}
                            </td>
                            <td>
                                {{altura}}
                            </td>

                        </tr>  
                        {{/each}}
                    </table>                   
                </td>
           </tr>

     <tr >
         <td colspan="2">RESULTADO
         <h3>{{FU}} </h3> <br>
         <h9> Notas: El valor mostrado corresponde sólo a una estimación con un error de precisión del  5%. No obedece al resultado de una Verificación Estructural formal. No se analizaron las fundaciones existentes. </h9>
         </td>
     </tr>





        </table>

    </div>
</div>