
<script>
  function printDiv(nombreDiv) {
     var contenido= document.getElementById(nombreDiv).innerHTML;
     var contenidoOriginal= document.body.innerHTML;
     document.body.innerHTML = contenido;
     window.print();
     document.body.innerHTML = contenidoOriginal;
}

function nuevanNota(){
    var text = "";
    var FU ={{fu.fu_torre}};
    FU=FU.toFixed(2);

    if ( {{fu.fu_torre}}>95) {
    text = "El factor de utilización es <strong>"+FU+"%  se recomienda realizar una nueva memoria de cálculo dada la precisión del Software de Estructuras </strong>";
  } else {
    text = "El factor de utilización es = <strong> "+FU+" %</strong> ";
  }
    document.getElementById("notaReporte").innerHTML = text;
 }


function manejaPOST(path){

var aGuardar=[];
var Cargas=[];
var Antenas=[];
var Sitio=[];
var Estudio=[];
 var FUX ={{fu.fu_torre}};
 FUX=FUX.toFixed(2);

var hist_mc_id=document.getElementById("hist_mc_id").innerHTML;
var codigo=document.getElementById("cod").innerHTML;
var fu=document.getElementById("fu").innerHTML;


fu=fu.replace("<strong>", "");
  fu=fu.replace("</strong>", "");
  fu=fu.replace("%", "");
  fu=fu.replace(" ", "");
var hielo=document.getElementById("hielo").innerHTML;
var norma=document.getElementById("norma").innerHTML;
var viento=document.getElementById("viento").innerHTML;
var fecha=document.getElementById("fecha").innerHTML;

Estudio.push({
  hist_mc_id:hist_mc_id,
  codigo:codigo,
  fu:fu,
  hielo:hielo,
  norma:norma,
  viento:viento,
  fecha:fecha,
  fu_analisis:FUX

}); 

Sitio.push({
  nombre_sitio:document.getElementById("nombre_sitio").innerHTML,
  tipo:document.getElementById("tipo").innerHTML,
  alturaTorre:document.getElementById("alturaTorre").innerHTML,
});

console.log( " el id que ando buscando :"+hist_mc_id);
var tablaBaja= document.getElementById("antenasBaja").rows;
for(i=1;i<tablaBaja.length;i++)
{
 {
aGuardar.push(antenas={
  descripcion:document.getElementById("antenasBaja").rows[i].cells[0].innerHTML,
  cant:document.getElementById("antenasBaja").rows[i].cells[1].innerHTML,
  altura:document.getElementById("antenasBaja").rows[i].cells[2].innerHTML,
}); 
}
}

var cargaInicial= document.getElementById("cargaIni").rows;
for(i=1;i<cargaInicial.length;i++)
{
 {
Cargas.push({
  descripcion:document.getElementById("cargaIni").rows[i].cells[0].innerHTML,
  cant:document.getElementById("cargaIni").rows[i].cells[1].innerHTML,
  altura:document.getElementById("cargaIni").rows[i].cells[2].innerHTML,
}); 
}
}

console.log(" Estudio :"+JSON.stringify(Estudio));

consolida={
  cargas:aGuardar,
  sitios:Sitio,
  estudio:Estudio,
  antenas:Cargas,
}

var enviar =JSON.stringify(consolida);
method =  "post";
var path=path;
var form = document.createElement("form");
form.setAttribute("method", method);
form.setAttribute("action", path);
var hiddenField = document.createElement("input");
hiddenField.setAttribute("type", "hidden");
hiddenField.setAttribute("name", "analisis");
hiddenField.setAttribute("value", enviar);
form.appendChild(hiddenField);
document.body.appendChild(form);
form.submit();
 };

</script>


{{> head }}
{{> navbarclient }}
<body onload="nuevanNota()">
<div id="areaImprimir">
<img src="assets/img/logo.jpg" class= "img-thumbnail" align="left"> 
    <div class="jumbotron">
        <h1 class="display-4">RESULTADOS DEL ANÁLISIS ESTRUCTURAL </h1>
         <div class="container mt-5">
  <div>   
  <div>
 <table border="1" > 
   <tr>
     <td colspan="2"><strong>DATOS DEL SITIO</strong></td>
     <tr>
       {{#each sitio}}
       <tr>
         <td>NOMBRE DEL SITIO</td><td id="nombre_sitio">{{nombre}}</td>
         </tr>
        <td>TIPO</td><td id="tipo">{{tipo}}</td>
        <tr>
          <td>ALTURA</td><td id="alturaTorre">{{altura_torre}}</td>
       
       </tr>
       {{/each}}
       </tr>
  </table> 
  </div>    

<p>    </p>
<p>    </p>

  <div>
 <table border="1"> 
   <tr>
     <td colspan="2"><strong>DATOS DEL ESTUDIO</strong></td>
     <tr>
       {{#each estudio}}
       <tr>
         <td>Código</td><td id="cod">{{codigo}}</td>
         </tr>
         <tr>
           <td>FU</td><td id="fu"><strong>{{fu}}</strong> % </td>
         </tr>
         <tr>
          <td>Hielo</td><td id="hielo">{{hielo}}</td>
          </tr>
          <tr>
          <td>Norma</td><td id="norma">{{norma }}</td>
          </tr>
          <tr>
          <td>Condición de viento</td><td id="viento">{{viento}}</td>
          </tr>
          <tr>
          <td>Fecha</td><td id="fecha">{{fecha}}</td>
          </tr>
          <tr style="display: none;">
            <td> ID estudio</td><td id="hist_mc_id">{{id_hist_mc}}</td>
          </tr>
          {{/each}}
       </tr>
  </table>  
  </div>   



<hr class="my-4">

<p class="lead">Inventario previo de equipos en torre </p>
  <div>

  <table border="1" id="cargaIni" >        
  <tr>
    <td><strong>DESCRIPCIÓN</strong></td><td><strong>ORIENTACIÓN</strong></td><td><strong>ALTURA</strong></td><td><strong>CANTIDAD</strong></td>
  </tr>
  {{#each CargaInicial}}
   <tr>
   <td>{{descripcion}}</td><td>{{orientacion}}</td><td>{{altura}}</td><td>{{cantidad}}</td>
  </tr>
  {{/each}}
  </table>            
  </div>    
 
  <div>
 <p class="lead">Equipamento considerado para el análisis</p>
  <table id="antenasBaja" border="1">        
  <tr>
    <td><strong>DESCRIPCIÓN</strong></td><td><strong>CANTIDAD</strong></td><td><strong>ALTURA</strong></td>
  </tr>
  {{#each enter.ent}}
   <tr>
   <td>{{descrip}}</td><td>{{n}}</td><td>{{altura}}</td>
  </tr>
  {{/each}}
  </table>            
  </div>


<h1>EL FACTOR DE UTILIZACIÓN DE LA TORRE ES </h1>
<table border="1">

    <div id="notaReporte"><strong> texto superior se ha creado dinámicamente. </strong> </div>
<p>
<p>
<p>
Notas: 
El valor mostrado corresponde sólo a una estimación con un error de precisión del ~5%. No obedece al resultado de una Verificación Estructural formal.
No se analizaron las fundaciones existentes."
    </p>
</p>  
</table>

  <div class="row">
    <div class="col-md-5">
      <div class="card-body">
             <div >


   <button   class="btn btn-primary" onclick="manejaPOST('/guardado')">
     Guardar el resultado
   </button>
  


        </div>
       

         </div>
    </div>
  </div>
</div>
{{!-- /// fin zona de impresión --}}
</div>


 <input class="btn btn-primary btn-lg" type="button" onclick="printDiv('areaImprimir')" value="Imprimir informe" />
        
        
    </div>

</div>

{{> footer}}