

{{> head }}
{{> navbarusuario }}

    <div class="jumbotron">
        <h1 class="display-4">RESULTADOS Torre AUTOSOPORTADA </h1>
        <p class="lead">Resultados de análisis simplificado de torre autosoportada
            <ul class="navbar-nav mr-auto">
                Estos son los resultados:</p>
               


                <div class="container mt-5">
                {{!-- <h3>El FU de cantoneros {{resultadoFuCantonero}}</h3>
                <h3>El FU de resultadoFuDiag {{resultadoFuDiag}}</h3>
                <h3>El FU de resultadoFuMont {{resultadoFuMont}}}</h3>
                <h3>El FU de resultadoConDiagPer {{resultadoConDiagPer}}</h3>
                <h3>El FU de resultadoConDiagPlan {{resultadoConDiagPlan}}</h3>
                <h3>El FU de resultadoacuMontPer {{resultadoacuMontPer}}</h3> --}}

<h1>El FU de cantoneros es :   {{resultadoFuCantonero}}</h1>
            <h1>El FU de resultadoFuDiag  es :  {{resultadoFuDiag}}</h1>
            <h1>El FU de resultadoFuMont  es :  {{resultadoFuMont}}</h1>
            <h1>El FU de resultadoConDiagPer  es :  {{resultadoConDiagPer}}</h1>
            <h1>El FU de resultadoConDiagPlan  es :  {{resultadoConDiagPlan}}</h1>
            <h1>El FU de resultadoacuMontPer es :   {{resultadoacuMontPer}}</h1>
            <h1>El FU de resultadoacuMontPlan  es :  {{resultadoacuMontPlan}}</h1>

  <div class="row">
    <div class="col-md-5">
      <div class="card-body">

       

            {{!-- <h1>El FU de cantoneros {{resultadoFuCantonero}}</h1>
            <h1>El FU de resultadoFuDiag {{resultadoFuDiag}}</h1>
            <h1>El FU de resultadoFuMont {{resultadoFuMont}}</h1>
            <h1>El FU de resultadoConDiagPer {{resultadoConDiagPer}}</h1>
            <h1>El FU de resultadoConDiagPlan {{resultadoConDiagPlan}}</h1>
            <h1>El FU de resultadoacuMontPer {{resultadoacuMontPer}}</h1>
            <h1>El FU de resultadoacuMontPlan {{resultadoacuMontPlan}}</h1> --}}


            {{!-- <ul>
                <li><b>mostrar:</b><%= contrale %></li>
            </ul> --}}
              

         

         </div>
    </div>
  </div>
</div>




        <hr class="my-4">
        <p>Simplemente Industrial 4.0 en las estructuras de las antenas de tu planta externa.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Leer más</a>
    </div>
{{> footer}}