
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js" integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/" crossorigin="anonymous"></script>

<script>
  function printDiv(nombreDiv) {
     var contenido= document.getElementById(nombreDiv).innerHTML;
     var contenidoOriginal= document.body.innerHTML;
     document.body.innerHTML = contenido;
     window.print();
     document.body.innerHTML = contenidoOriginal;
}

function nuevanNota(){
    var text = "";
    var FU ={{fu.fu_torre}};
    FU=FU.toFixed(2);
    if ( {{fu.fu_torre}}>95) {
    text = "El  factor de utilización es <strong>"+FU+"%  se recomienda realizar una nueva memoria de cálculo dada la precisión del Software de Estructuras </strong>";
  } else {
    text = "El  factor de utilización es = <strong> "+FU+" %</strong> ";
  }
    document.getElementById("notaReporte").innerHTML = text;
 }

 function genPDF(){
  var doc = new jsPDF();
  doc.fromHTML($('#particular').get(0), 20,20,{
    'width':500 });
    doc.save('ssAJ.pdf');
}


function manejaPOST(path){

var aGuardar=[];
var Cargas=[];
var Antenas=[];
var Sitio=[];
var Estudio=[];
var Usuario=[];
 var FUX ={{fu.fu_torre}};
 FUX=FUX.toFixed(2);

var hist_mc_id=document.getElementById("hist_mc_id").innerHTML;
var codigo=document.getElementById("cod").innerHTML;
var fu=document.getElementById("fu").innerHTML;

var token=localStorage.getItem("token");



Usuario.push({
  token:token
}); 


fu=fu.replace("<strong>", "");
  fu=fu.replace("</strong>", "");
  fu=fu.replace("%", "");
  fu=fu.replace(" ", "");
var hielo=document.getElementById("hielo").innerHTML;
var norma=document.getElementById("norma").innerHTML;
var viento=document.getElementById("viento").innerHTML;
var fecha=document.getElementById("fecha").innerHTML;


Estudio.push({
  hist_mc_id:hist_mc_id,
  codigo:codigo,
  fu:fu,
  hielo:hielo,
  norma:norma,
  viento:viento,
  fecha:fecha,
  fu_analisis:FUX

}); 

Sitio.push({
  nombre_sitio:document.getElementById("nombre_sitio").innerHTML,
  tipo:document.getElementById("tipo").innerHTML,
  alturaTorre:document.getElementById("alturaTorre").innerHTML,
});

console.log( " el id que ando buscando :"+hist_mc_id);
var tablaBaja= document.getElementById("antenasBaja").rows;
for(i=1;i<tablaBaja.length;i++)
{
 {
aGuardar.push(antenas={
  descripcion:document.getElementById("antenasBaja").rows[i].cells[0].innerHTML,
  cant:document.getElementById("antenasBaja").rows[i].cells[1].innerHTML,
  altura:document.getElementById("antenasBaja").rows[i].cells[2].innerHTML,

}); 
}
}

var cargaInicial= document.getElementById("cargaIni").rows;

console.dir("Carga inicial :"+cargaInicial);


for(i=1;i<cargaInicial.length;i++)
{
 {
Cargas.push({
  descripcion:document.getElementById("cargaIni").rows[i].cells[0].innerHTML,
  cant:document.getElementById("cargaIni").rows[i].cells[1].innerHTML,
  altura:document.getElementById("cargaIni").rows[i].cells[2].innerHTML,
  cantPu:Math.abs(document.getElementById("cargaIni").rows[i].cells[1].innerHTML),


}); 
}
}

console.log(" Estudio :"+JSON.stringify(Estudio));

consolida={
  cargas:aGuardar,
  sitios:Sitio,
  estudio:Estudio,
  antenas:Cargas,
  usuario:Usuario,
}

var enviar =JSON.stringify(consolida);
method =  "post";
var path=path;
var form = document.createElement("form");
form.setAttribute("method", method);
form.setAttribute("action", path);
var hiddenField = document.createElement("input");
hiddenField.setAttribute("type", "hidden");
hiddenField.setAttribute("name", "analisis");
hiddenField.setAttribute("value", enviar);
form.appendChild(hiddenField);
document.body.appendChild(form);
form.submit();
 };

</script>
<script>

  function creaPDF(path) {

    var memoriaCalculo=[];
    var sitiosDatos=[];
    var equiposTorre=[];
    var instalacion=[];
    var data=[]; 

    var tablaSitio = document.getElementById("Tablasitio");
    var tablaEquipos=document.getElementById("antenasBaja");
    var tabladatos_estudio=document.getElementById("datos_estudio");  
    var cargaIni=document.getElementById("cargaIni");
    
    var FU=document.getElementById("notaReporte").innerHTML;
    FU=FU.replace("<strong>","");
    FU=FU.replace("</strong>","");
        FU=FU.replace(" ","");

    var codig=document.getElementById("datos_estudio").rows[2].cells[1].innerHTML;
    codig=codig.replace(/<strong>/g,"");

      var codig=document.getElementById("datos_estudio").rows[2].cells[1].innerHTML; 
      var fu_mc=document.getElementById("datos_estudio").rows[3].cells[1].innerHTML;
      fu_mc=fu_mc.replace("<strong>","");
        fu_mc=fu_mc.replace("</strong>","");
        fu_mc=fu_mc.replace("%","");
        fu_mc=fu_mc.replace(" ","");


      memoriaCalculo.push({        
        codig:codig,
        fu_mc:fu_mc,
        hielo:document.getElementById("datos_estudio").rows[4].cells[1].innerHTML,
        norma:document.getElementById("datos_estudio").rows[5].cells[1].innerHTML,
        cond_viento:document.getElementById("datos_estudio").rows[6].cells[1].innerHTML,
        fecha:document.getElementById("datos_estudio").rows[7].cells[1].innerHTML,
        });
        
        sitiosDatos.push({
          nombre:document.getElementById("Tablasitio").rows[2].cells[1].innerHTML,
          tipo:document.getElementById("Tablasitio").rows[3].cells[1].innerHTML,
          altura:document.getElementById("Tablasitio").rows[4].cells[1].innerHTML, 
          });


for (i=1;i<cargaIni.rows.length ;i++){
  equiposTorre.push(
    {
      descripcion :document.getElementById("cargaIni").rows[i].cells[0].innerHTML,
      orientacion:document.getElementById("cargaIni").rows[i].cells[1].innerHTML,
      altura:document.getElementById("cargaIni").rows[i].cells[2].innerHTML,
      cantidad:document.getElementById("cargaIni").rows[i].cells[3].innerHTML,
      cantPublic:Math.abs(Number(document.getElementById("cargaIni").rows[i].cells[3].innerHTML)),
    } 
    );
    
    
}


for (i=1;i<tablaEquipos.rows.length ;i++){
  instalacion.push(
    {
      descripcion :document.getElementById("antenasBaja").rows[i].cells[0].innerHTML,
      cantidad:document.getElementById("antenasBaja").rows[i].cells[1].innerHTML,
      altura:document.getElementById("antenasBaja").rows[i].cells[2].innerHTML,
      accion:document.getElementById("antenasBaja").rows[i].cells[6].innerHTML,
      cantPublica:Math.abs(document.getElementById("antenasBaja").rows[i].cells[1].innerHTML),
      ancho:document.getElementById("antenasBaja").rows[i].cells[3].innerHTML,
      largo:document.getElementById("antenasBaja").rows[i].cells[4].innerHTML,
      diametro:document.getElementById("antenasBaja").rows[i].cells[5].innerHTML,
    }
    );
}
          
  console.log(" Este es memoriaCalculo :"+ JSON.stringify(memoriaCalculo));
  console.log(" Este es sitiosDatos :"+ JSON.stringify(sitiosDatos)); 
  console.log(" Este es equiposTorre :"+ JSON.stringify(equiposTorre));
  console.log(" Este es instalacion :"+ JSON.stringify(instalacion));
  console.log(" Este es FU :"+ FU);

  

    data.push(
    {
      memoriaCalculo:memoriaCalculo,
      sitiosDatos:sitiosDatos,
      equiposTorre:equiposTorre,
      instalacion:instalacion,
      FU:FU,
    }
    );


    var enviar =JSON.stringify(data);
method = "post";
var path=path;
var form = document.createElement("form");
form.setAttribute("method", method);
form.setAttribute("action", path);
var hiddenField = document.createElement("input");
hiddenField.setAttribute("type", "hidden");
hiddenField.setAttribute("name", "armando");
hiddenField.setAttribute("value", enviar);
form.appendChild(hiddenField);
document.body.appendChild(form);
form.submit();



}

  
</script>




{{> head }}
{{> navbarclient }}
<body onload="nuevanNota()">
<img src="assets/img/logo.jpg" class= "img-thumbnail" align="left">

<div id="areaImprimir">
 
    <div id="areaMasGrande" class="jumbotron">
        <h1 class="display-4">RESULTADOS DEL ANÁLISIS ESTRUCTURAL </h1>
         <div  class="container mt-5">
  <div>   
  <div>
 <table border="1"  id="Tablasitio"> 
   <tr>
     <td colspan="2"><strong>DATOS DEL SITIO</strong></td>
     <tr>
       {{#each sitio}}
       <tr>
         <td>NOMBRE DEL SITIO</td><td id="nombre_sitio">{{nombre}}</td>
         </tr>
        <td>TIPO</td><td id="tipo">{{tipo}}</td>
        <tr>
          <td>ALTURA</td><td id="alturaTorre">{{altura_torre}}</td>
       
       </tr>
       {{/each}}
       </tr>
  </table> 
  </div>    

<p>    </p>
<p>    </p>
  
 
 <table border="1" id="datos_estudio"> 
   <tr>
     <td colspan="2"><strong>DATOS DEL ESTUDIO</strong></td>
     <tr>
       {{#each estudio}}
       <tr>
         <td>Código</td><td id="cod"  align="center" >{{codigo}}</td>
         </tr>
         <tr>
           <td>FU</td><td id="fu" align="center" ><strong>{{fu}}</strong> % </td>
         </tr>
         <tr>
          <td>Hielo</td><td id="hielo"  align="center" >{{hielo}}</td>
          </tr>
          <tr>
          <td>Norma</td><td id="norma"  align="center">{{norma }}</td>
          </tr>
          <tr>
          <td>Condición de viento</td><td id="viento"  align="center" >{{viento}}</td>
          </tr>
          <tr>
          <td>Fecha</td><td id="fecha"  align="center" >{{fecha}}</td>
          </tr>
          <tr style="display: none;">
            <td> ID estudio</td><td id="hist_mc_id"  align="center">{{id_hist_mc}}</td>
          </tr>
          {{/each}}
       </tr>
  </table>  
   

<div id="particular"> 

<hr class="my-4">

<p class="lead">Inventario previo de equipos en torre </p>
 

  <table border="1" id="cargaIni" >        
  <tr>
    <td><strong>DESCRIPCIÓN</strong></td><td><strong>ORIENTACIÓN</strong></td><td><strong>ALTURA</strong></td><td><strong>CANTIDAD</strong></td></td>
  </tr>
  {{#each CargaInicial}}
   <tr>
   <td  align="center" >{{descripcion}}</td><td  align="center" >{{orientacion}}</td><td  align="center">{{altura}}</td><td  align="center" >{{cantidad}}</td>
  </tr>
  {{/each}}
  </table>            


   <div class="well">
     <p class="lead"> Equipamento considerado para el análisis</p>
   </div>
  <table id="antenasBaja" border="1">        
  <tr>
    <td><strong>DESCRIPCIÓN</strong></td><td><strong>CANTIDAD</strong></td><td><strong>ALTURA</strong><td><strong>ANCHO</strong><td><strong>LARGO</strong></td><td><strong>DIÁMETRO</strong></td><td><strong>ACCION</strong></td>
  </tr>
  {{#each enter.ent}}
   <tr>
   <td>{{descrip}}</td><td align="center">{{npublic}} </td><td  align="center">{{altura}}</td><td  align="center">{{ancho}}</td><td  align="center">{{largo}}</td><td  align="center">{{diametro}}</td><td  align="center">{{accion}}</td>
  </tr>
  {{/each}}
  </table>            


  </div>
<hr class="my-4">

<div class="container">
  <h2>RESUMEN DEL ANÁLISIS </h2>
  <div class="panel panel-default">
</div>

  </div>

<table border="1">


    <div id="notaReporte"><strong> texto superior se ha creado dinámicamente. </strong> </div>
  </div>

    
<p>
<p>
<p>
    <article >
El valor mostrado corresponde sólo a una estimación con un error de precisión del ~5%. No obedece al resultado de una Verificación Estructural formal.
No se analizaron las fundaciones existentes."
</article>
    </p>
</p>  
</table>

  <div class="row">
    <div class="col-md-5">
      <div class="card-body">
          <div  >
            <button   class="btn btn-primary" onclick="manejaPOST('/guardado')">
              Guardar el resultado
            </button>
            <button   class="btn btn-primary" onclick="creaPDF('/pdf')" >
               Generar un PDF
            </button>
        </div>
      </div>
    </div>
  </div>
</div>
{{!-- /// fin zona de impresión --}}
</div>

    </div>
</div>

{{> footer}}